<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.example.gabriellucas.vcce">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning"
            android:usesCleartextTraffic="true">
        <activity
                android:screenOrientation="fullSensor"
                tools:replace="screenOrientation"
                android:clearTaskOnLaunch="true"
                android:stateNotNeeded="true"
                android:configChanges="orientation|screenSize"
                android:name=".app.ECCEActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="com.google.zxing.client.android.SCAN"/>
            </intent-filter>
        </activity>
    </application>

</manifest>